.reviews{
    height: 667px; 
    background: #090C9B24 14%; 
} 

.con{
    margin: auto;
    width: 80%;
} 

.review-icon-con{
    height:15%;
}

.review-icon , .person-icon , .play-icon{
    width: 40px;
    height: 40px;
}

.reviews h1{
    color: black;
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 50px;
    padding-top: 30px;
} 

.review-con{
    height: 55%;
    font-size: 28px;
    text-align: center;
    color: #6A7176;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    
}

.container{
    display: flex; 
    flex-direction: column; 
    margin-top: 20px;
    height: 450px;
    padding: 10px;
    border: 4px solid #6A7176;
    /* border-radius: 10px; */
    margin-right: 30px;
    /* background: #eeeef39a 14%;  */
} 

.person-info{
    display: flex;
    gap: 20px;
    flex-direction: row;
    height: 15%;
}

.course-info{
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 15%;
}

.course-name a{
    color:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left; 
}

.person-name{
    color: #6A7176;
    font-size: 24px;
    font-weight: 600;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.course-name{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 26px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left; 
}

.slick-slide > div {
    margin: 0 10px;
}
.slick-slide > arrows {
    color: black;
}
.slickNext{
    color: black;
}