.reset-password{
    display: flex;
    margin-top: 40px;
    width: 100%;
    height: 90vh;
    justify-content: space-between;
}
.reset-password-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 100px;
    line-height: 1.1;
    text-align: center;
}

.reset-password h1{
    color: #090c9b;
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 60px;
}


.reset-password-fields{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.reset-password-fields input{
    height: 64px;
    width: 580px;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
    padding-right: 10px;

}


.reset-password-left button
{
    width: 580px;
    height: 61px;
    color: white;
    background: #090c9b;
    margin-top: 20px;
    border: none;
    font-size: 20px;
    /* font-weight: 200; */
    cursor: pointer;
    border-radius: 15px;
    padding: 15px;

}

.reset-password-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset-password-right img{
    width: 700px;
    height: 100%;

}