.signup{
    display: flex;
    margin-top: 40px;
    width: 100%;
    height: 90vh;
    justify-content: space-between;
    margin-bottom: 70px;
}

.signup-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-left: 100px;
    line-height: 1.1;
    text-align: center;
    margin-top: 30px;
}

.signup-left h1{
    color: #6c6c6c;
    /* font-weight: 600; */
    font-size: 35px;
}

.signup-fields{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

.signup-fields input{
    height: 60px;
    width: 570px;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
    padding-right: 10px;

}


.signup-left button{
    width: 570px;
    height: 60px;
    color: white;
    background: #090c9b;
    margin-top: 15px;
    border: none;
    font-size: 20px;
    /* font-weight: 200; */
    cursor: pointer;
    border-radius: 15px;
    padding: 15px;
}

.gmail-face-container img{
    height: 70px;
    width: 70px;

}

.signup-left p,h4{
    color: #6c6c6c;
    font-size: 18px;
  }
.signup-left span{  
    color: black;
    font-weight: bold;
    cursor: pointer;
}





.signup-right {
    /* flex: 1; */
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .signup-right img {
    width: 700px;
    height: 100vh;
  }