.footer {
  background-color: #000271;
  height: 566px;
  /* width: 1920px; */
  /* display: flex;
  justify-content: space-around; */
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 0.7fr ;
}

.log-icon {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  margin: auto;
}

.log-icon p {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
  word-spacing: 5px;
}

.Links-footer {
  display: flex;
  align-items: center;
  /* text-align: center; */
  justify-content: space-between;
  font-size: 25px;
}

.Links-footer h3 {
  text-decoration: underline;
  padding-bottom: 5px;
}
.Links-footer li {
  list-style: none;
  line-height: 1.2;
  cursor: pointer;
}

.contact-us img {
  padding-right: 10px;
  width: 35px;
}

.language {
  margin: 80px;
  display: flex;
  flex-direction: column;
}

.language-icon {
  border: 3px solid white;
  width: 200px;
  display: flex;
  font-size: 20px;
  padding: 10px;
}
