.confirmation-password form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-top: 40px; */
  width: 100%;
  height: 90vh;
}

.confirmation-password-text h1 {
  color: #090c9b;
  font-size: 40px;
}

.confirmation-password-text p {
  color: #6c6c6c;
  margin-bottom: 30px;
  font-size: 25px;
  line-height: 40px;
  font-weight: bold;
}

.confirmation-password-text input {
  height: 60px;
  width: 450px;
  padding-left: 20px;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  font-size: 18px;
  padding-right: 10px;
}

.confirmation-password-text button {
  width: 450px;
  height: 50px;
  color: white;
  background: #090c9b;
  margin-top: 30px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 15px;
  padding: 15px;
  display: block;
  text-align: center;
  /* margin-left: auto; */
}

.confirmation-password img {
  height: 70vh;
}
